<div class="app-main">
  <md-sidenav-container class="container">
    <md-sidenav #sidenav class="sidenav" mode="over">
        <md-toolbar color="accent">
          <span>
            {{title}}
          </span>
        </md-toolbar>
        <md-nav-list class="sidenav-list">
          <md-list-item class="sidenav-list-item"
            *ngFor="let item of mainNavigation"
            (click)="onNavigate()"
            routerLink="{{item.link}}"
            routerLinkActive="active">
            <md-icon>{{item.icon}}</md-icon>
            <span>{{item.label}}</span>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item class="sidenav-list-item"
            *ngFor="let environment of environments"
            (click)="onNavigate()"
            routerLink="/environment/{{environment.id}}">
            <md-icon>desktop_windows</md-icon>
            <span>{{environment.displayName}}</span>
          </md-list-item>
        </md-nav-list>
      </md-sidenav>
      <md-toolbar class="app-header" color="primary">
      <button md-icon-button
        (click)="sidenav.toggle()">
        <md-icon>menu</md-icon>
      </button>
    </md-toolbar>
    <router-outlet></router-outlet>
  </md-sidenav-container>
</div>
