<div class="app-main">
  <md-sidenav-container class="container">
    <md-sidenav #sidenav class="sidenav" mode="over">
        <md-toolbar color="accent">
          <span>
            {{title}}
          </span>
        </md-toolbar>
        <app-nav-main [sidenav]="sidenav"></app-nav-main>
      </md-sidenav>
      <md-toolbar class="app-header" color="primary">
      <button md-icon-button
        (click)="sidenav.toggle()">
        <md-icon>menu</md-icon>
      </button>
    </md-toolbar>
    <router-outlet></router-outlet>
  </md-sidenav-container>
</div>
