.app-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.app-header .app-title {
  padding-left: 16px;
  padding-right: 16px;
}

.sidenav-list {
  padding-top: 0px !important;
}

.sidenav-list span {
  padding-left: 16px;
  /* padding-right: 16px; */
}

.sidenav-list-item.active {
  background-color: var(--accent-light) !important;
}

.sidenav-list-item:hover {
  background-color: var(--accent-dark) !important;
  color: #ffffff;
}
