@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --primary: #3f51b5;
  --primary-light: #757de8;
  --primary-dark: #002984;
  --accent: #ff4081;
  --accent-light: #ff79b0;
  --accent-dark: #c60055;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0px;
  padding: 0px;
}

div.main-view {
  display: flex;
}

div.view-loader {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);
  align-items: center;
  justify-content: center;
}

.view-header {
  background-color: var(--primary-light);
}

.view-title {
  padding-left: 16px;
}

.fill-h {
  flex: 1 1 auto;
}

.mat-dialog-actions {
  justify-content: flex-end;
}
